.App {
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.backgroundImage{
  background-image: url('./assets/images/bmw3.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  margin: 10px;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  overflow:hidden;
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
}
.CarFormButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  bottom: 0;
}

.card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card p {
  font-size: 1rem;
  color: #555;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.image.active {
  transform: translateX(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-container {
  width: 100%; 
  margin: 20px 0; 
}

.image-container {
  position: relative;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color:"#000";
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: .2;
}
.arrow-button:hover{
  opacity: 1;
  background-color: #0d2a69;
}

.arrow-button.left {
  left: 0;
  background-color: #0d2a69;
  background-image: none;
}

.arrow-button.right {
  right: 0;
  background-color: #0d2a69;
}

.custom-pagination-text {
  color: white !important;
}