.modal-container-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Set a high z-index value for the modal container wrapper */
}

.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px; /* Adjust width as needed */
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000; /* Set a high z-index value for the modal */
}

.modal-content {
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}